@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizzaria</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSezBhgIac8NQufqKK_mxEyHyF6LoEo0g7JGw&usqp=CAU" classe="img-fluid" alt="Pizzaria">
</div>
